## Análisis de Datos Faltantes

In [6]:
# Librerias
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
#import session_info
import upsetplot

In [9]:
# linea para correr el notebook utils
%run utils.ipynb

### Datos

In [11]:
# almacenamos la pagina web que almacena los datos en una variable

diabetes_url = "https://nrvis.com/data/mldata/pima-indians-diabetes.csv"

In [13]:
# Linea de comando para descargar los datos y almacenarlos en la carpeta data

!wget -O ./data/pima-indians-diabetes.csv {diabetes_url} -q
# ! --> linea de comandos 
# wget --> comando para descargar datos 
# -O 
# ruta para almacenar los datos + nombre
# {URL} --> variable donde se almacena la URL
# -q --> para que no muestre la descarga

In [14]:
# Agregamos el nombre de cada columna del csv

diabetes_df = pd.read_csv(
    filepath_or_buffer="./data/pima-indians-diabetes.csv", # ruta donde se encuentra el csv
    sep=',',
    names=[
        "pregnancies",
        "glucose",
        "blood_pressure",
        "skin_thickness",
        "insulin",
        "bmi",
        "diabetes_pedigree_function",
        "age",
        "outcome"
    ]
)

In [15]:
diabetes_df

,pregnancies,glucose,blood_pressure,skin_thickness,insulin,bmi,diabetes_pedigree_function,age,outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0