# Accessor de Pandas

In [1]:
# librerias

import pandas as pd

In [2]:
# creamos el dataframe

df = pd.DataFrame({'Nombres': ['joa', 'david', 'santos']})
df

  Nombres
0     joa
1   david
2  santos

In [3]:
# usamos el accessor str para convertir los nombres a mayuscula

df['Nombres'] = df['Nombres'].str.upper()

In [4]:
# mostrar resultados

df

  Nombres
0     JOA
1   DAVID
2  SANTOS