# API de Pandas Extendida

In [26]:
# librerias
import pandas as pd
import numpy as np

In [27]:
# accessor personalizado
@pd.api.extensions.register_dataframe_accessor("missing")
class MissingMethods:

    # constructor
    def __init__(self, pandas_obj):
        self._obj = pandas_obj

    # las siguientes funciones aplican sobre DataFrames

    # Cantidad de valores faltantes por columnas
    def column_missing_counts(self) -> pd.Series:
        return self._obj.isna().sum()
    
    # Porcentaje de valores faltantes en el Dataframe
    def porcentaje_missing(self):
        return ((self._obj.isna().sum().sum())/(self._obj.size))*100

/tmp/ipykernel_3114/478660536.py:3: UserWarning: registration of accessor <class '__main__.MissingMethods'> under name 'missing' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexisting attribute with the same name.
  class MissingMethods:

In [28]:
# Creamos un DataFrame de prueba

df = pd.DataFrame(np.random.rand(5,3))
df

          0         1         2
0  0.307989  0.956363  0.667220
1  0.754211  0.574776  0.235217
2  0.745392  0.141965  0.876594
3  0.061034  0.254229  0.982566
4  0.657608  0.035791  0.976927

In [29]:
# Agregamos algunos valores faltantes

df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[4, 2] = np.nan
df

          0         1         2
0  0.307989  0.956363  0.667220
1  0.754211  0.574776       NaN
2  0.745392  0.141965  0.876594
3       NaN  0.254229  0.982566
4  0.657608  0.035791       NaN

In [30]:
# Utilizamos el accessor missing para contar la cantidad de valores faltantes por columna

(
    df.missing.column_missing_counts()
)

0    1
1    0
2    2
dtype: int64

In [31]:
(
    df.missing.porcentaje_missing()
)

20.0