# API de Pandas Extendida

In [22]:
# librerias
import pandas as pd
import numpy as np

In [23]:
# accessor personalizado
@pd.api.extensions.register_dataframe_accessor("missing")
class MissingMethods:

    # constructor
    def __init__(self, pandas_obj):
        self._obj = pandas_obj

    # las siguientes funciones aplican sobre DataFrames

    # Cantidad de valores faltantes por columnas
    def column_missing_counts(self) -> pd.Series:
        return self._obj.isna().sum()
    
    # Porcentaje de valores faltantes en el Dataframe
    def porcentaje_missing(self) -> int:
        #missing_v = self._obj.isna().sum().sum()
        #size_df = self._obj.size
        return ((self._obj.isna().sum().sum())//(self._obj.size))*100

/tmp/ipykernel_2587/3227036212.py:3: UserWarning: registration of accessor <class '__main__.MissingMethods'> under name 'missing' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexisting attribute with the same name.
  class MissingMethods:

In [24]:
# Creamos un DataFrame de prueba

df = pd.DataFrame(np.random.rand(5,3))
df

          0         1         2
0  0.649747  0.399688  0.556980
1  0.099038  0.211756  0.860721
2  0.150252  0.551875  0.047043
3  0.005639  0.750540  0.369782
4  0.615066  0.317218  0.951569

In [25]:
# Agregamos algunos valores faltantes

df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[4, 2] = np.nan
df

          0         1         2
0  0.649747  0.399688  0.556980
1  0.099038  0.211756       NaN
2  0.150252  0.551875  0.047043
3       NaN  0.750540  0.369782
4  0.615066  0.317218       NaN

In [26]:
# Utilizamos el accessor missing para contar la cantidad de valores faltantes por columna

(
    df.missing.column_missing_counts()
)

0    1
1    0
2    2
dtype: int64

In [29]:
#(
#    df.missing.porcentaje_missing
#)