# API de Pandas Extendida

In [1]:
# librerias
import pandas as pd
import numpy as np

In [2]:
# accessor personalizado
@pd.api.extensions.register_dataframe_accessor("missing")
class MissingMethods:

    # constructor
    def __init__(self, pandas_obj):
        self._obj = pandas_obj

    # las siguientes funciones aplican sobre DataFrames

    # Cantidad de valores faltantes por columnas
    def column_missing_counts(self) -> pd.Series:
        return self._obj.isna().sum()
    
    # Porcentaje de valores faltantes en el Dataframe
    def porcentaje_missing(self) -> float:
        return ((self._obj.isna().sum().sum())/(self._obj.size))*100

In [3]:
# Creamos un DataFrame de prueba

df = pd.DataFrame(np.random.rand(5,3))
df

          0         1         2
0  0.828643  0.998239  0.460144
1  0.854111  0.838027  0.404760
2  0.686622  0.161253  0.182202
3  0.672491  0.193703  0.125000
4  0.657208  0.614666  0.556601

In [4]:
# Agregamos algunos valores faltantes

df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[4, 2] = np.nan
df

          0         1         2
0  0.828643  0.998239  0.460144
1  0.854111  0.838027       NaN
2  0.686622  0.161253  0.182202
3       NaN  0.193703  0.125000
4  0.657208  0.614666       NaN

In [5]:
# Utilizamos el accessor missing para contar la cantidad de valores faltantes por columna

(
    df.missing.column_missing_counts()
)

0    1
1    0
2    2
dtype: int64

In [7]:
(
    df.missing.porcentaje_missing()
)

20.0