# Operaciones con valores faltantes

### Librerias

In [1]:
import numpy as np
import pandas as pd

### Valores Faltantes en Python

In [6]:
# operaciones booleanas

print(
    None or True,
    None or False,
    None == None,
    None is None,
    sep='\n'
)

True
False
True
True

In [8]:
# operaciones matematicas

print(
    None + True,
    None / False
)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'bool'

In [9]:
# tipo de valor

print(type(None))

<class 'NoneType'>

### Valores faltantes en Numpy

In [14]:
# operaciones boolenas

print(
    np.nan or True,
    np.nan or False,
    np.nan == np.nan,
    np.nan is np.nan,
    sep='\n'
)

nan
nan
False
True

In [16]:
# operaciones matematicas

print(
    np.nan / 2,
    np.nan + 2,
    sep='\n'
)

nan
nan

In [17]:
# tipo de dato

print(type(np.nan))

<class 'float'>

In [18]:
# comando para saber si un valor es nan

print(np.isnan(np.nan))

True

### Valores faltantes en Pandas

In [19]:
# dataframe de prueba

test_df = pd.DataFrame.from_dict(
    data=dict(
        x = [0, 1, np.nan, np.nan, None],
        y = [0, 1, pd.NA, np.nan, None]
    )
)

test_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

In [20]:
# comando para mostrar valores faltantes del dataframe
test_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [21]:
# comando alternativo para mostrar valores faltantes del dataframe
test_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True