# __Explorar datos preprocesados__

In [1]:
# visualizacion de informacion
%matplotlib inline
import pandas as pd

In [2]:
# cargar datos preprocesados
compras_df = pd.read_csv('../data_out/clean_compras.csv')
compras_df.head()

,NUM BEN,BENEFICIARIO,RFC,FACTURA,CONTRATO,CONCEPTO,TIPO,# OP,FECHA,IMPORTE,SHEET
0,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS AF8458-158008-3972,OT. 20204373,REEMPLAZO E INSTALACION DE AMORTIGUADORES (DEL...,TR,1019110.0,2020-12-11,14911.80,GASTOS VARIOS
1,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6916-158008-4041,OT. 20204425,REEMPLAZO E INSTALACION DE OCHO BIRLOS Y NUEVE...,TR,1019110.0,2020-12-11,2528.80,GASTOS VARIOS
2,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6917-158008-3975,OT. 20204376,REEMPLAZO DE DOS RINES (17). PATRIMONIO 80383...,TR,1019110.0,2020-12-11,8500.02,GASTOS VARIOS
3,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7004-158008-3971,OT. 20204374,REEMPLAZO DE DOS RINES (14). PATRIMONIO 8007...,TR,1019110.0,2020-12-11,2400.01,GASTOS VARIOS
4,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7137-158008-4554,OT. 20205130,REEMPLAZO E INSTALACION DE RIN 14. PATRIMONIO ...,TR,299001496.0,2020-12-23,1537.00,GASTOS VARIOS

## Visualizacion general del dataset

In [3]:
# lista de nombre de las columnas
compras_df.columns

Index(['NUM BEN', 'BENEFICIARIO', 'RFC', 'FACTURA', 'CONTRATO', 'CONCEPTO',
       'TIPO', '# OP', 'FECHA', 'IMPORTE', 'SHEET'],
      dtype='object')

In [5]:
# comprobar el tipo de dato de las variables
compras_df.dtypes

NUM BEN           int64
BENEFICIARIO     object
RFC              object
FACTURA          object
CONTRATO         object
CONCEPTO         object
TIPO             object
# OP            float64
FECHA            object
IMPORTE         float64
SHEET            object
dtype: object

In [6]:
# resumen estadistico de las variables numericas
compras_df.describe()

             NUM BEN          # OP       IMPORTE
count    1540.000000  1.540000e+03  1.540000e+03
mean   203914.777273  1.920050e+08  6.263179e+05
std     92435.932025  1.411189e+08  4.666912e+06
min    110152.000000  1.019042e+06  8.600000e-01
25%    116223.000000  1.019144e+06  2.987000e+03
50%    203013.000000  2.980000e+08  1.235584e+04
75%    311250.000000  3.000001e+08  1.130583e+05
max    370012.000000  6.040001e+08  1.267303e+08

In [ ]:
# resumen estadistico de las variables categoricas
compras_df.describe(include='object')

,BENEFICIARIO,RFC,FACTURA,CONTRATO,CONCEPTO,TIPO,FECHA,SHEET
count,1540,1540,1540,1540,1540,1540,1540,1540
unique,301,301,1540,656,1396,2,21,5
top,CAMARA MEXICANA DE LA INDUSTRIA DE LA CONSTRUC...,CMI970416U95,LLS AF8458-158008-3972,NO APLICA,SERVICIOS FUNERARIOS ASISTENCIA SOCIAL DIF,TR,2020-12-04,CONTRATISTAS Y FDO FED
freq,266,266,1,238,27,1395,521,724

In [8]:
# seleccionar variables con las que vamos a trabajar
compras_df = compras_df[['BENEFICIARIO', 'FACTURA', 'CONTRATO', 'CONCEPTO', 'TIPO', '# OP', 'FECHA', 'IMPORTE', 'SHEET']]

## Analisis unidimensional de las variables

## Analisis multidimensional de las variables

## Analisis de texto