# Capitulo 2 : Distribuciones de Datos y Muestras

## Carga de los datos

In [12]:
# importamos librerias
import pandas as pd
import seaborn as sns
from pathlib import Path

In [13]:
try:
    import common
    DATA = common.dataDirectory()
except ImportError:
    DATA = Path().resolve() / 'data'

Definimos rutas a los conjuntos de datos. Si no mantienes los datos en el mismo directorio que el codigo, adapte los nombres de las rutas

In [14]:
LOANS_INCOME_CSV = DATA / 'loans_income.csv'
SP500_DATA_CSV = DATA / 'sp500_data.csv.gz'

## Distribucion Muestral del Estadistico

In [20]:
# cargar datos
loans_income = pd.read_csv(LOANS_INCOME_CSV)
loans_income.head()

        x
0   67000
1   52000
2  100000
3   78762
4   37041

In [15]:
# convertir en una serie el dataframe. Debe poseer una columna
loans_income = pd.read_csv(LOANS_INCOME_CSV).squeeze('columns')
loans_income

0         67000
1         52000
2        100000
3         78762
4         37041
          ...
49995     40000
49996     54000
49997     50000
49998     82000
49999     70000
Name: x, Length: 50000, dtype: int64

In [18]:
# Creamos la muestra de los 1000 valores
sample_data = pd.DataFrame({
    'income':loans_income.sample(1000),
    'Type':'Data'
})
sample_data.head()

       income  Type
43441   74628  Data
21308   70000  Data
19729   64000  Data
37753   68000  Data
5898    66125  Data

In [19]:
# creamos la muestra de 1000 media para 5 valores
sample_mean_05 = pd.DataFrame({
    'income':[loans_income.sample(5).mean() for _ in range(1000)],
    'type':'Media de 5'
})
sample_mean_05.head()

    income        type
0  84200.0  Media de 5
1  51500.0  Media de 5
2  76580.0  Media de 5
3  73125.6  Media de 5
4  75400.0  Media de 5