In [3]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('white')
import matplotlib.pyplot as plt
from empiricaldist import Cdf

In [5]:
# Crear un Cdf vacio
d4 = Cdf()
d4

Cdf([], Name: , dtype: float64)

In [7]:
# Cdf que representa un dado de 6 lados
d4[1] = 1
d4[2] = 2
d4[3] = 3
d4[4] = 4
d4[5] = 5
d4[6] = 6 

d4

1    1
2    2
3    3
4    4
5    5
6    6
Name: , dtype: int64

In [10]:
# Normalizando el Cdf
# de esta manera, la suma de las probabilidades es igual a 1
d4.normalize()

1.0

In [11]:
d4

1    0.166667
2    0.333333
3    0.500000
4    0.666667
5    0.833333
6    1.000000
Name: , dtype: float64

### Propiedades

In [12]:
# un Cdf contiene en el indice las cantidades qs y en los valores las probabilidades ps
# Se devuelven como matriz
# indices
d4.qs

array([1, 2, 3, 4, 5, 6])

In [13]:
# probabilidades
d4.ps

array([0.16666667, 0.33333333, 0.5       , 0.66666667, 0.83333333,
       1.        ])

### Intercambio