## Busquedas de Datos con Condiciones

In [19]:
#librerias
import pandas as pd

In [20]:
# cargar datos
datos = pd.read_csv('./data/ATP.csv')

/tmp/ipykernel_4336/3353967361.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('./data/ATP.csv')

In [21]:
# fijar indice
datos.set_index('Location', inplace=True)

### Buscar Registros que cumplan con una condicion

In [22]:
# resultados de canchas al aire libre
#               condicion               columna a mostrar
datos.loc[datos['Court'] == 'Outdoor', ['Surface']]

         Surface
Location
Adelaide    Hard
Adelaide    Hard
Adelaide    Hard
Adelaide    Hard
Adelaide    Hard
...          ...
New York    Hard
New York    Hard
New York    Hard
New York    Hard
New York    Hard

[38350 rows x 1 columns]

In [23]:
#               condicion               columnas a mostrar
datos.loc[datos['Court'] == 'Outdoor', ['Surface', 'Winner']]

         Surface        Winner
Location
Adelaide    Hard    Dosedel S.
Adelaide    Hard    Enqvist T.
Adelaide    Hard     Escude N.
Adelaide    Hard    Federer R.
Adelaide    Hard   Fromberg R.
...          ...           ...
New York    Hard  Nishikori K.
New York    Hard   Wawrinka S.
New York    Hard   Djokovic N.
New York    Hard   Wawrinka S.
New York    Hard   Wawrinka S.

[38350 rows x 2 columns]

### Busquedas que cumplen con varias condiciones

In [38]:
# buscar torneos de gram slam, que sea con cancha de arcilla, 
# que haya ganado Federer y que haya ganado en la final

datos.loc[datos['Series'].str.endswith('Slam') &
                (datos['Surface'] == 'Clay') & 
                (datos['Winner'] == 'Murray A.') & 
                (datos['Round'] == 'Semifinals')]

,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Paris,33,French Open,3/06/2016,Grand Slam,Outdoor,Clay,Semifinals,5,Murray A.,Wawrinka S.,...,NaN,NaN,1.73,2.1,NaN,NaN,1.82,2.2,1.75,2.07