## Borrar filas de un archivos CSV

In [1]:
#librerias
import pandas as pd

In [2]:
# cargar datos
df = pd.read_csv('./data/canciones.csv')

In [3]:
# resumen del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     int64
 1   Song        32 non-null     object
 2   Peak        32 non-null     int64
 3   Weeks       32 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

In [4]:
df.head()

   Unnamed: 0                Song  Peak  Weeks
0          76    Paperback Writer     1     16
1         117        Lady Madonna     1      9
2         118            Hey Jude     1     27
3          22   Can't Buy Me Love     1     17
4          29  A Hard Day's Night     1     14

### Eliminar la ultima fila del dataset

In [7]:
# numero de filas
filas = len(df.index)
filas

32