## Borrar filas de un archivos CSV

In [2]:
#librerias
import pandas as pd

In [3]:
# cargar datos
df = pd.read_csv('./data/canciones.csv')

In [4]:
# resumen del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     int64
 1   Song        32 non-null     object
 2   Peak        32 non-null     int64
 3   Weeks       32 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

In [5]:
df.head()

   Unnamed: 0                Song  Peak  Weeks
0          76    Paperback Writer     1     16
1         117        Lady Madonna     1      9
2         118            Hey Jude     1     27
3          22   Can't Buy Me Love     1     17
4          29  A Hard Day's Night     1     14

### Eliminar la ultima fila del dataset

In [6]:
# numero de filas
filas = len(df.index)
filas

32

In [7]:
# eliminar ultima fila
df.drop(df.index[[filas - 1]], inplace=True)
filas = len(df.index)

In [8]:
filas

31

### Eliminar fila por indice

In [9]:
# eliminar la fila 1 y 2

# lista de indices a eliminar       axis = 0 para filas. axis = 1 para columnas
df.drop([1,2], axis=0)

    Unnamed: 0                                   Song  Peak  Weeks
0           76                       Paperback Writer     1     16
3           22                      Can't Buy Me Love     1     17
4           29                     A Hard Day's Night     1     14
5           48                         Ticket To Ride     1     14
6           56                                  Help!     1     17
7          109                   All You Need Is Love     1     16
8          173            The Ballad Of John And Yoko     1     13
9           85                          Eleanor Rigby     1     14
10          87                       Yellow Submarine     1     14
11          20               I Want To Hold Your Hand     1     24
12          45                            I Feel Fine     1     15
13          60                            Day Tripper     1     12
14          61                     We Can Work It Out     1     12
15          10                          She Loves You     1     36
16         155                               Get Back     1      6
17           8                         From Me To You     1      7
18         115                          Hello Goodbye     1      7
19           2                       Please Please Me     2     20
20          92              Strawberry Fields Forever     2     12
21          93                             Penny Lane     2     13
22         107                   Magical Mystery Tour     2     16
23         176                              Let It Be     2     14
24           0                             Love Me Do     4     26
25         157                              Something     4      9
26         166                          Come Together     4     10
27          58                              Yesterday     8     21
28         135                   Back In The U.S.S.R.    19      3
29         164                     Here Comes The Sun    58     19
30          96  Sgt. Pepper's Lonely Hearts Club Band    63     12

### Eliminar filas que cumplen una condicion con drop

In [11]:
# creamos una lista con los indices de las filas que cumple una condicion
weeks_mayor_16 = df[df['Weeks'] > 16].index
weeks_mayor_16

Int64Index([2, 3, 6, 11, 15, 19, 24, 27, 29], dtype='int64')

In [12]:
# pasamos la lista como argumento de drop
df.drop(weeks_mayor_16, inplace=True)

In [13]:
df

    Unnamed: 0                                   Song  Peak  Weeks
0           76                       Paperback Writer     1     16
1          117                           Lady Madonna     1      9
4           29                     A Hard Day's Night     1     14
5           48                         Ticket To Ride     1     14
7          109                   All You Need Is Love     1     16
8          173            The Ballad Of John And Yoko     1     13
9           85                          Eleanor Rigby     1     14
10          87                       Yellow Submarine     1     14
12          45                            I Feel Fine     1     15
13          60                            Day Tripper     1     12
14          61                     We Can Work It Out     1     12
16         155                               Get Back     1      6
17           8                         From Me To You     1      7
18         115                          Hello Goodbye     1      7
20          92              Strawberry Fields Forever     2     12
21          93                             Penny Lane     2     13
22         107                   Magical Mystery Tour     2     16
23         176                              Let It Be     2     14
25         157                              Something     4      9
26         166                          Come Together     4     10
28         135                   Back In The U.S.S.R.    19      3
30          96  Sgt. Pepper's Lonely Hearts Club Band    63     12