## Buscar valores en una columna y extraer datos de otra

In [1]:
# librerias
import pandas as pd

In [2]:
# cargar datos
datos = pd.read_csv('./data/precios.csv')
df = pd.DataFrame(datos)
df

                    producto        procedencia     precio
0              Aguacate hass  MichoacándeOcampo  37.113636
1                      Fresa         Guanajuato  19.772955
2                    Guayaba     Aguascalientes   7.500000
3               Limón núm. 5             Colima  18.303864
4   Manzana golden delicious        Importación  26.640909
5   Naranja valencia mediana          NuevoLeón   5.345455
6          Papaya amarilla a  MichoacándeOcampo   9.636364
7        Piña cayene mediana             Oaxaca   7.431818
8            Plátano tabasco             Colima   5.995455
9               Toronja roja  MichoacándeOcampo   9.172727
10                 Uva globo        Importación  40.908182

### Obtener el precio de un producto dado

In [3]:
# funcion que retorna el costo de un producto segun su precio y las unidades a comprar
def pago(unidades, precio):
    costo = unidades * precio
    return costo

In [4]:
# pago de 3 Guayabas
producto = 'Guayaba'
unidades = 3
precio = df[df['producto'] == producto]['precio']

In [5]:
pago(unidades, precio)

2    22.5
Name: precio, dtype: float64

In [6]:
# Pago de 10 Fresas
producto = 'Fresa'
unidades = 10
precio = df[df['producto'] == producto]['precio']

pago(unidades, precio)

1    197.729545
Name: precio, dtype: float64

### Mostrar productos con precios mayor a 10

In [7]:
df[df['precio'] > 10]['producto']

0                Aguacate hass
1                        Fresa
3                 Limón núm. 5
4     Manzana golden delicious
10                   Uva globo
Name: producto, dtype: object

### Obtener la procedencia de un producto en particular

In [8]:
df[df['producto'] == 'Uva globo']['procedencia']

10    Importación
Name: procedencia, dtype: object