## Busqueda en Bases de Datos

In [1]:
# librerias
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#cargar datos
datos = pd.read_csv('./data/student-mat.csv')
df = pd.DataFrame(datos)
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
# tipos de datos del dataframe
df.dtypes
# los datos numericos vienen en fomrato numerico

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [5]:
# informacion resumida del dataframe
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [6]:
# estadistica resumida del dataframe
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [7]:
# nombre de las columnas
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Dividir el DataFrame en dos partes

In [8]:
# datos de la escuela GP
df1 = df.loc[(df['school'] == 'GP')]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349 entries, 0 to 348
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      349 non-null    object
 1   sex         349 non-null    object
 2   age         349 non-null    int64
 3   address     349 non-null    object
 4   famsize     349 non-null    object
 5   Pstatus     349 non-null    object
 6   Medu        349 non-null    int64
 7   Fedu        349 non-null    int64
 8   Mjob        349 non-null    object
 9   Fjob        349 non-null    object
 10  reason      349 non-null    object
 11  guardian    349 non-null    object
 12  traveltime  349 non-null    int64
 13  studytime   349 non-null    int64
 14  failures    349 non-null    int64
 15  schoolsup   349 non-null    object
 16  famsup      349 non-null    object
 17  paid        349 non-null    object
 18  activities  349 non-null    object
 19  nursery     349 non-null    object
 20  higher      349 non-null    object
 21  internet    349 non-null    object
 22  romantic    349 non-null    object
 23  famrel      349 non-null    int64
 24  freetime    349 non-null    int64
 25  goout       349 non-null    int64
 26  Dalc        349 non-null    int64
 27  Walc        349 non-null    int64
 28  health      349 non-null    int64
 29  absences    349 non-null    int64
 30  G1          349 non-null    int64
 31  G2          349 non-null    int64
 32  G3          349 non-null    int64
dtypes: int64(16), object(17)
memory usage: 92.7+ KB

In [9]:
# datos de la escuela MS
# datos de la escuela GP
df2 = df.loc[(df['school'] == 'MS')]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 349 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      46 non-null     object
 1   sex         46 non-null     object
 2   age         46 non-null     int64
 3   address     46 non-null     object
 4   famsize     46 non-null     object
 5   Pstatus     46 non-null     object
 6   Medu        46 non-null     int64
 7   Fedu        46 non-null     int64
 8   Mjob        46 non-null     object
 9   Fjob        46 non-null     object
 10  reason      46 non-null     object
 11  guardian    46 non-null     object
 12  traveltime  46 non-null     int64
 13  studytime   46 non-null     int64
 14  failures    46 non-null     int64
 15  schoolsup   46 non-null     object
 16  famsup      46 non-null     object
 17  paid        46 non-null     object
 18  activities  46 non-null     object
 19  nursery     46 non-null     object
 20  higher      46 non-null     object
 21  internet    46 non-null     object
 22  romantic    46 non-null     object
 23  famrel      46 non-null     int64
 24  freetime    46 non-null     int64
 25  goout       46 non-null     int64
 26  Dalc        46 non-null     int64
 27  Walc        46 non-null     int64
 28  health      46 non-null     int64
 29  absences    46 non-null     int64
 30  G1          46 non-null     int64
 31  G2          46 non-null     int64
 32  G3          46 non-null     int64
dtypes: int64(16), object(17)
memory usage: 12.2+ KB

### Cuantos estudiantes viajan mas de 1 horas para llegar a la escuela?

In [11]:
# traveltime notacion: 4 para mas de 1 hora, 3 para 30 minutos a 1 hora...
df1.where(df1.traveltime == 4).traveltime.count()

7

In [12]:
# estadistica basica de una columna especifica
df1['traveltime'].describe()

count    349.000000
mean       1.386819
std        0.666910
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: traveltime, dtype: float64