## Importar y leer varios archivos de Excel

In [6]:
# librerias
import pandas as pd
import numpy as np
import glob

In [8]:
# cargar datos en una lista
lista_excel = []

for f in glob.glob('./data/archivos_excel/*.xlsx'):
    df = pd.read_excel(f)
    lista_excel.append(pd.read_excel(f))

df = pd.concat(lista_excel, ignore_index='True')
df.head(10)

           Entidad         Rango  Hombres  Mujeres
0  Baja California    0 a 4 años   149167   144067
1              NaN    5 a 9 años   153886   149294
2              NaN  10 a 14 años   155483   149989
3              NaN  15 a 19 años   152077   147118
4              NaN  20 a 24 años   144597   141882
5              NaN  25 a 29 años   133546   131882
6              NaN  30 a 34 años   132857   131166
7              NaN  35 a 39 años   135331   128732
8              NaN  40 a 44 años   110722   104327
9              NaN  45 a 49 años    86928    84176

In [10]:
# en la columna Entidad aparece solo una vez el nombre del estado y en los demas reglones 
# aparece vacio (NaN). Para rellenar los reglones vacios con el valor indicado utilizamos
# el metodo ffill()

df = df.replace(0, np.nan).ffill()
df.head(15)

            Entidad         Rango  Hombres  Mujeres
0   Baja California    0 a 4 años   149167   144067
1   Baja California    5 a 9 años   153886   149294
2   Baja California  10 a 14 años   155483   149989
3   Baja California  15 a 19 años   152077   147118
4   Baja California  20 a 24 años   144597   141882
5   Baja California  25 a 29 años   133546   131882
6   Baja California  30 a 34 años   132857   131166
7   Baja California  35 a 39 años   135331   128732
8   Baja California  40 a 44 años   110722   104327
9   Baja California  45 a 49 años    86928    84176
10  Baja California  50 a 54 años    68093    68597
11  Baja California  55 a 59 años    48250    49624
12  Baja California  60 a 64 años    36151    39078
13  Baja California  65 a 69 años    25086    27474
14  Baja California  70 a 74 años    17956    19786

### Exportar el archivo que contiene los archivos excel

In [11]:
writer =pd.ExcelWriter('./data/varios_excel.xlsx')
df.to_excel(writer, 'Hoja 1')
writer.save()

### Unir varias hojas de un archivo Excel en una sola

In [12]:
xlsx = pd.ExcelFile('./data/archivos_excel/inegiestados.xlsx')

hojas = []
for hoja in xlsx.sheet_names:
    hojas.append(xlsx.parse(hoja))
    
estados = pd.concat(hojas, ignore_index=True)
estados.shape

(84, 4)

In [13]:
# rellenar nombres en los renglones vacios
df = estados
df = df.replace(0, np.nan).ffill()

In [14]:
# guardar el nuevo dataframe en un nuevo archivo
writer =pd.ExcelWriter('./data/varios_excel_2.xlsx')
df.to_excel(writer, 'Hoja con todos los datos')
writer.save()