## Importar y leer varios archivos de Excel

In [6]:
# librerias
import pandas as pd
import numpy as np
import glob

In [8]:
# cargar datos en una lista
lista_excel = []

for f in glob.glob('./data/archivos_excel/*.xlsx'):
    df = pd.read_excel(f)
    lista_excel.append(pd.read_excel(f))

df = pd.concat(lista_excel, ignore_index='True')
df.head(10)

           Entidad         Rango  Hombres  Mujeres
0  Baja California    0 a 4 años   149167   144067
1              NaN    5 a 9 años   153886   149294
2              NaN  10 a 14 años   155483   149989
3              NaN  15 a 19 años   152077   147118
4              NaN  20 a 24 años   144597   141882
5              NaN  25 a 29 años   133546   131882
6              NaN  30 a 34 años   132857   131166
7              NaN  35 a 39 años   135331   128732
8              NaN  40 a 44 años   110722   104327
9              NaN  45 a 49 años    86928    84176