## Unir hojas de Excel en un solo Dataframe

Para ello, todas las hojas deben tener la misma cantidad de columnas para que puedan acoplarse de manera optima

In [1]:
# librerias
import pandas as pd
from pandas import read_excel

In [2]:
# cargar datos
my_sheet = '17'
file_name = './data/multiples_hojas.xlsx'

#           archivo excel   nombre de la hoja del archivo
df = read_excel(file_name, sheet_name=my_sheet)
df.head()

,title,channel_title,views,likes,dislikes,comment_count
0,BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...,ibighit,3483755,789753,2840,72376
1,Stephen Takes Issue With The 'Sexiest Man Aliv...,The Late Show with Stephen Colbert,490925,8040,320,1001
2,LAST MINUTE SHOPPING FOR OUR TRIP TO VEGAS | V...,Inthefrow,29455,1183,23,116
3,Kim Kardashian Lets Gender of Third Child Slip,TheEllenShow,2682800,41045,1527,2748
4,The Problem with Lab Mice,CollegeHumor,655161,21013,2563,2671

### Comparar cantidad de valores de una columna con los valores unicos

In [3]:
# N° de valores para la columna channel_title
df['channel_title'].count()

28

In [4]:
# N° de valores unicos de la columna channel_title
df['channel_title'].nunique()

28