## Unir hojas de Excel en un solo Dataframe

Para ello, todas las hojas deben tener la misma cantidad de columnas para que puedan acoplarse de manera optima

In [1]:
# librerias
import pandas as pd
from pandas import read_excel

In [2]:
# cargar datos
my_sheet = '17'
file_name = './data/multiples_hojas.xlsx'

#           archivo excel   nombre de la hoja del archivo
df = read_excel(file_name, sheet_name=my_sheet)
df.head()

,title,channel_title,views,likes,dislikes,comment_count
0,BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...,ibighit,3483755,789753,2840,72376
1,Stephen Takes Issue With The 'Sexiest Man Aliv...,The Late Show with Stephen Colbert,490925,8040,320,1001
2,LAST MINUTE SHOPPING FOR OUR TRIP TO VEGAS | V...,Inthefrow,29455,1183,23,116
3,Kim Kardashian Lets Gender of Third Child Slip,TheEllenShow,2682800,41045,1527,2748
4,The Problem with Lab Mice,CollegeHumor,655161,21013,2563,2671

### Comparar cantidad de valores de una columna con los valores unicos

In [3]:
# N° de valores para la columna channel_title
df['channel_title'].count()

28

In [4]:
# N° de valores unicos de la columna channel_title
df['channel_title'].nunique()

28

### Unir las hojas en un DataFrame

In [6]:
datos = pd.DataFrame() # dataframe donde se almacena las hojas

diccionario = pd.read_excel(file_name, sheet_name=None)

In [7]:
# agregar una columna con el nombre de la hoja a cada registro de la correspodiente hoja

# el nombre de cada hoja corresponde al año por lo que se agrega el año en una nueva columna
# para cada registro
for name, column in diccionario.items():
    column['year'] = name
    datos = datos.append(column, ignore_index=True)

/tmp/ipykernel_30286/1405110808.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  datos = datos.append(column, ignore_index=True)
/tmp/ipykernel_30286/1405110808.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  datos = datos.append(column, ignore_index=True)
/tmp/ipykernel_30286/1405110808.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  datos = datos.append(column, ignore_index=True)
/tmp/ipykernel_30286/1405110808.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  datos = datos.append(column, ignore_index=True)

In [9]:
datos.head()

,title,channel_title,views,likes,dislikes,comment_count,year
0,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,7224515,55681,10247,9479,14
1,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,1053632,25561,2294,2757,14
2,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,17158579,787420,43420,125882,14
3,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,27833,193,12,37,14
4,Dashcam captures truck's near miss with child ...,Cute Girl Videos,9815,30,2,30,14

In [10]:
# completar el año de cada registro
datos['completo'] = datos['year']
datos['completo'] = datos['completo'].map({'14':2014, '15':2015, '16':2016, '17':2017})

In [11]:
datos.head()

,title,channel_title,views,likes,dislikes,comment_count,year,completo
0,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,7224515,55681,10247,9479,14,2014
1,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,1053632,25561,2294,2757,14,2014
2,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,17158579,787420,43420,125882,14,2014
3,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,27833,193,12,37,14,2014
4,Dashcam captures truck's near miss with child ...,Cute Girl Videos,9815,30,2,30,14,2014

In [12]:
# N° de valores en la columna channel_title
datos['channel_title'].count()

92

In [13]:
# N° de valores unicos de la columna channel_title
datos['channel_title'].nunique()

57

In [14]:
# lista de valores unicos de la columna channel_title
datos['channel_title'].unique()

array(['John Lewis', 'Saturday Night Live', 'EminemVEVO',
       'Salford City Football Club', 'Cute Girl Videos',
       'PointlessBlogVlogs', 'Ed Sheeran', 'MoreZoella', 'ElbowVEVO',
       'JenniferLopezVEVO', 'Nile Wilson', 'Inside Edition',
       'BostonDynamics', 'Jimmy Kimmel Live',
       'The Tonight Show Starring Jimmy Fallon', 'Soccer AM', 'WWE',
       'The Late Show with Stephen Colbert', 'Inthefrow', 'marshmello',
       'BBCRadio1VEVO', 'SamanthaMariaVlogs', 'Amelia Liana',
       'Listen to this also', 'Daniel J. Layton', 'Lily Pebbles',
       'Giovannasworld', 'The Late Late Show with James Corden',
       'TheEllenShow', 'FallOutBoyVEVO', 'Chris Stuckmann', 'WOWPresents',
       'Taylor Swift', 'TODAY', 'BBC Radio 1', 'Verne Troyer',
       'Ubisoft US', 'The X Factor UK', 'Estée Lalonde', 'ibighit',
       'CollegeHumor', 'Fleur DeForce', 'Safiya Nygaard',
       'Simply Nailogical', 'Austin Evans', 'You Suck At Cooking',
       'CinemaSins', 'RemyMaVEVO', 'Matthias', 'iHasCupquake', 'Björk',
       'Unit Lost - Great British Gaming', 'The Verge', 'Harry Main',
       'Jonathan Morrison', 'alt-J', 'FATV'], dtype=object)