## Funciones Lambdas en un DataFrame

In [3]:
# lo que no se puede hacer con funciones lambdas
promedio = lambda x, y: (x+y)/2
promedio(10,5)

7.5

In [5]:
# misma operacion con una funcion
def prom(x,y):
    p = (x + y)/2
    return p

prom(10,5)

7.5

In [6]:
# otra alternativa con funciones
def prom(x,y):
    return (x + y)/2

prom(10,2)

6.0

In [7]:
# otra alternativa con funciones
def prom(x,y): return (x + y)/2

prom(10,8)

9.0

## Trabajando sobre un DataFrame

In [8]:
# librerias
import pandas as pd

In [9]:
# cargar datos
df = pd.read_csv('./data/estados.csv')
df

           Estado  Temperatura  Llluvia
0  AgUaScalientEs           30        5
1      GuAnaJuaTo           27        3
2       ZacaTeCaS           32       30
3       MichoAcáN           33       20
4       QuerÉtArO           28        2

### Convertir Valores de Temperatura en Kelvin

In [10]:
# apply aplica una funcion sobre cada uno de los valores de la columna
df['Temperaturak'] = df['Temperatura'].apply(lambda x: x+273.15)
df['Temperatura']

0    30
1    27
2    32
3    33
4    28
Name: Temperatura, dtype: int64

In [11]:
df['Temperaturak']

0    303.15
1    300.15
2    305.15
3    306.15
4    301.15
Name: Temperaturak, dtype: float64