## Creacion de un DataFrame

In [6]:
# Librerias
import pandas as pd
import numpy as np

In [3]:
#Diccionario con informacion
datos = {'Nombre':['Jose', 'Miguel', 'Javier', 'Jimena'],
         'Calificaciones':['100', '90', '100', '80'],
         'Deportes':['Futbol', 'Natacion', 'Basquetball', 'Beisbol'],
         'Materias':['Calculo', 'Metodos Numericos', 'Cocina', 'Religion']}

In [5]:
# Pasar el diccionario a un DataFrame
df = pd.DataFrame(datos)
df

   Nombre Calificaciones     Deportes           Materias
0    Jose            100       Futbol            Calculo
1  Miguel             90     Natacion  Metodos Numericos
2  Javier            100  Basquetball             Cocina
3  Jimena             80      Beisbol           Religion

### Datos no validos

In [7]:
datos_2 = {'Nombre':['Jose', 'Miguel', 'N/A', 'Jimena'],
         'Calificaciones':['100', np.nan, '100', '80'],
         'Deportes':['Futbol', 'Natacion', 'Basquetball', 'N/A'],
         'Materias':['N/A', 'Metodos Numericos', 'Cocina', 'Religion']}

In [10]:
df_2 = pd.DataFrame(datos_2)
df_2

   Nombre Calificaciones     Deportes           Materias
0    Jose            100       Futbol                N/A
1  Miguel            NaN     Natacion  Metodos Numericos
2     N/A            100  Basquetball             Cocina
3  Jimena             80          N/A           Religion